:root{
    --primary-color: #5151F5;
    --secondary-color: rgb(183, 183, 183);
    --white: white;
    --black: black;

}


*{
    font-family: "calibri";
}

html,body,#root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}


.border{
    border: 1px solid black;
}